body{
    background-color:white;
}
/*first grid in home page*/
.categories-grid{
    width:80%;
    display:grid;
    grid-template-columns:auto auto auto ;
    row-gap: 20px;
    gap:2rem;
    padding:1rem;
}
.category-item{
    padding:1rem;
    font-size:small;
    width:25vw;
    height:400px;
    background:white;
    border-radius:10px;
    border:1px solid lightgray;
}
/* grid in every head category item */
.subCategory-grid{
    width:85%;
    display:grid;
    grid-template-columns:50% 50%;
    gap:5px;
    height:60%;
}
.subCategory-item{
    width:100%;
    aspect-ratio: 1;
    border:1px solid black;
}